:root{
  --main-background: #161B22;
  --text-reverse: #EDEDED;
  --text: #1A1A1A;
  --emphasis: #3FB950;
  --emphasis-reverse: #238636;
  --card-background: #444444;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  line-height: 1.5em;
  background-color: var(--main-background);
  color: var(--text-reverse);
}
header{
  position: sticky;
  top: 0;
  z-index: 1;
}
header, footer{
  background-color: var(--emphasis);
  color: var(--text);
  padding: 10px;
  text-align: center;
}
nav#menu > ul{
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.2em;
  gap: 0.25em;
  list-style-type: none;
}
nav#menu > ul > li > a{
  text-decoration: none;
  font-weight: 600;
  color: var(--text);
  border-radius: 5px;
  padding: 10px;
  transition: background-color .3s, color .3s;
}
nav#menu > ul > li > a:hover{
  background-color: var(--emphasis-reverse);
  color: var(--text-reverse);
}
section#principal{
  background-color: var(--card-background);
  width: 80vw;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
}
section.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
  margin: 20px;
}
section.card > img{
  max-width: 40%;
  aspect-ratio: 4/3;
}
section.card > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
section.card > div > a{
  background-color: white;
  color: var(--text);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.473);
  padding: 8px;
  width: max-content;
  transition: scale .2s
}
section.card > div > a:hover{
  transform: scale(1.05);
  font-weight: 500;
}