:root{
    --infoeste-color: #133328;
    --mono-color: #325E4E;
    --complementary-color: #f3f3f3;
    --button-color: #FF8C3F;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--mono-color);
}
header, footer{
    color: var(--complementary-color);
    background-color: var(--infoeste-color);
    text-align: center;
    padding: 10px;
    min-width: 800px;
}
main{
    width: 800px;
    color: var(--mono-color);
    background-color: var(--complementary-color);
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.479);
    border-radius: 15px;
}
form > p{
    text-align: center;
}
form > p > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--mono-color);
}
form > p > a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
fieldset{
    width: 95%;
    border-radius: 15px;
    padding: 10px;
    columns: 2;
    margin: auto;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.37);
}
legend{
    font-size: 1.2em;
    padding: 15px;
    color: var(--infoeste-color);
}
fieldset p{
    height: 64px;
}
fieldset#courses label:hover{
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}
input, select, textarea{
    margin: 10px 4px 10px 8px;
    padding: 2px 5px;
}
select > optgroup{
    background-color: lightgrey;
}
select option{
    background-color: white;
}
p#button{
    text-align: center;
    margin: 10px;
}